[user]
    name = <YourName>
    email = <YourEmail>
[alias]
    ph = push
    pl = pull
    ci = commit
    rb = rebase
    chp = cherry-pick
    st = status -sb
    fc = fetch 
    mg = merge
    mt = mergetool
    br = branch
    co = checkout
    ss = stash
    df = diff
    dt = difftool
    la = log --date-order --graph --format=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset%n          %s %Cgreen(%cr)' --abbrev-commit --date=relative --branches
    lg = log --date-order --graph --format=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset%n          %s %Cgreen(%cr)' --abbrev-commit --date=relative
    ls = ls-files
[push]
    default = tracking
[branch]
    autosetuprebase = always
[color]
    ui = true
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool]
	keepBackup = false
