[user]
	name = "{{ .name }}"
	email = "{{ .email }}"
[core]
	excludesfile = ~/.gitignore
	quotePath = false
	pager = delta
[alias]
	cl = clone
	rmo = remote
	ph = push
	pl = pull
	ci = commit
	rb = rebase
	chp = cherry-pick
	st = status -sb
	fc = fetch
	mg = merge
	mt = mergetool
	br = branch
	bl = blame
	co = checkout
	rv = revert
	rs = reset
	us = reset HEAD -- # unstage
	ss = stash
	df = diff
	dt = difftool
	la = log --date-order --graph --format=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset%n%s' --abbrev-commit --date=relative --all
	lb = log --date-order --graph --format=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset%n%s' --abbrev-commit --date=relative --branches
	lg = log --date-order --graph --format=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset%n%s' --abbrev-commit --date=relative
	ls = ls-files
[push]
	default = tracking
[branch]
	autosetuprebase = always
[color]
	ui = true
[diff]
	colorMoved = default
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	keepBackup = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
