background {
  monitor =
  path = {{ .wallpaperPath }}
  blur_passes = 2
  contrast = 1
  brightness = 0.5
  vibrancy = 0.2
  vibrancy_darkness = 0.2
}

general {
  ignore_empty_input = true
}

# https://wiki.hyprland.org/Hypr-Ecosystem/hyprlock/#input-field
input-field {
  size = 300, 60
  outline_thickness = 3
  dots_size = 0.33 # Scale of input-field height, 0.2 - 0.8
  dots_spacing = 0.15 # Scale of dots' absolute size, 0.0 - 1.0
  outer_color = rgba(0, 0, 0, 0)
  inner_color = rgba(0, 0, 0, 0.2)
  font_color = rgba(240, 240, 240, 1)
  fade_on_empty = false
  placeholder_text = <i>Input Password...</i>
  fail_text = <i>$FAIL <b>($ATTEMPTS)</b></i>
  position = 0, -100
  halign = center
  valign = center
}

# DATE
label {
  text = cmd[update:1000] echo "$(date +'%A, %B %d')"
  color = rgba(242, 243, 244, 0.75)
  font_size = 50
  font_family = JetBrains Mono
  position = 0, 300
  halign = center
  valign = center
}

# TIME
label {
  text = cmd[update:1000] echo "$(date +'%R:%S')"
  color = rgba(242, 243, 244, 0.75)
  font_size = 200
  font_family = JetBrains Mono Extrabold
  position = 0, 100
  halign = center
  valign = center
}
